.aside__float__left__container {
  position: fixed;
  padding-inline: 8px;
  height: 100dvh;
  top: 0px;
  left: 50px;
  background-color: var(--dark-700);
}

.aside__float__left__container__header {
  display: flex;
  justify-content: flex-end;
}

.aside__float__left__container__header__btn {
  padding-inline: 4px;
  padding-block: 8px;
  background-color: var(--red-700);
  color: var(--dark-50);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border: transparent;
  cursor: pointer;
}

.aside__float__left__container__header__btn:hover {

  background-color: var(--red-600);
}