.wrapper__loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  z-index: 1;
  border: 5px solid #ffffff;
  border-top-color: transparent;
  animation: loader 1s linear infinite;
  transition: all 500ms ease-in-out;
}

.md {
  height: 30px;
  width: 30px;
}

@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}