.dialog__export{
  width: 90%;
  height: 90%;
  border-radius: 8px;
  padding: 4px;
  border: transparent;
  margin: auto;
  padding: 8px;
}

.dialog__export__container{
  display: grid;
  gap: 8px;
  grid-template-rows: 70px 1fr;
  height: 100%;
}

.dialog__export__close__area{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dialog__export__close__btn{
  padding-inline: 8px;
  padding-block: 4px;
  color: var(--blue-50);
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog__export__close__btn:hover{
  background-color: var(--red-600);
}

.dialog__export__nav__area{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialog__export__nav__area__btns{
  display: flex;
  gap: 8px;
  align-items: center;
}

.dialog__export__nav__area__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-inline: 8px;
  padding-block: 4px;
  background-color: var(--blue-700);
  border: transparent;
  border-radius: 8px;
}

.dialog__export__nav__area__btn:hover{
  background-color: var(--blue-500);
}

.dialog__export__wp__code{
  overflow-y: auto;
  border-radius: 8px;
}