.btn__tooltip{
  anchor-name: var(--first-box);
}

.btn__tooltip__message{
  visibility: hidden;
  position-anchor: var(--first-box); /* Acoplamos a referencia */
  position-area:right;
  opacity: 0;
}

.btn__tooltip:hover ~ .btn__tooltip__message{
  visibility: visible;
  opacity: 1;
}
