.btn__tooltip{
  margin: auto;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--blue-600);
  color: var(--dark-50);
  border: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  anchor-name: var(--first-box);
}

.btn__tooltip__message{
  visibility: hidden;
  position: absolute;
  position-anchor: var(--first-box); /* Acoplamos a referencia */
  position-area:right;
}

.btn__tooltip:hover ~ .btn__tooltip__message{
  visibility: visible;
}
