@import "./assets/base.css";

body {
  background-color: var(--dark-950);
}

.builder__area {
  display: grid;
  grid-template-columns: 50px 1fr 270px;
}


.builder__aside {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 8px;
  background-color: var(--dark-900);
  height: 100dvh;
}

.builder__aside--left {
  width: 50px;
}

.builder__aside--right {
  width: 270px;
  overflow-y: auto;
}

.element__drag__over {
  position: relative;
  opacity: .85;
  transition: outline 200ms ease-in-out;
}

.componets__dialog--show {
  animation: ShowDialogComponents 100ms linear forwards;
}

@keyframes ShowDialogComponents {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
