@import "./assets/base.css";

body {
  box-sizing: border-box;
  background-color: var(--dark-950);
}

.builder__area {
  display: grid;
  grid-template-columns: 50px 1fr 270px;
}


.builder__aside {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 8px;
  background-color: var(--dark-900);
  height: 100dvh;
}

.builder__aside--left {
  width: 50px;
}

.builder__aside--right {
  width: 270px;
}

.element__drag__over {
  position: relative;
  opacity: .85;
  transition: outline 200ms ease-in-out;
}

.componets__dialog--show {
  animation: ShowComponents 100ms linear forwards;
}

@keyframes ShowComponents {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}